<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestione Dispositivi</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='notiflix/notiflix-3.2.7.min.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    
</head> 
<body>
  <div class="burger-menu">
    <button class="btn btn-dark" id="sidebar-toggle" onclick="toggleSideBar()">
        <span>&#9776;</span>
    </button>
</div>
  <!-- <button class="openbtn" onclick="toggleSidebar()">☰</button> -->
    <div class="sidebar" id="sidebar">
      <form id="settings">
          <h2 class="mb-4 text-center">Settings</h2>
        <div class="form-group">
          <label for="temperatureThreshold">Temperatura (°C):</label>
          <input type="number" id="temperatureThreshold" class="form-control" min="0" step="0.5">
        </div>
        <div class="form-group">
          <label for="lightThreshold">Quantità di luce (%):</label>
          <input type="number" id="lightThreshold" class="form-control" min="0" step="1">
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" onclick="saveSettings()">Salva</button>
        </div>
      </form>
        </div>
<div class="main" id="main">
    <div class="container mt-5">
        <h1 class="text-center mb-5">Dati Sensori</h1>
        <div class="sensor-values">
            <div class="row">
            <div class="col-md-6">
              <p>Sedia 1: <span id="pressureValue1">No</span></p>
            </div>
            <div class="col-md-6">
              <p>Sedia 2: <span id="pressureValue2">No</span></p>
            </div>
          </div>
          <div class="row">
        <div class="row mb-3">
          <div class="col-md-12 sensor-values">
            <p>Temperatura: <span id="temperatureValue">0 °C</span></p>
            <p>Luce: <span id="lightValue">0 %</span></p>
          </div>
        </div>

    <div class="container mt-5">
        <h1 class="text-center mb-5">Gestione dispositivi</h1>
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3 mr-2">
                <button id="manual" class="mainBtn btn btn-primary btn-lg btn-block shadow-sm" onclick="setManual()">Manuale</button>
            </div>
            <div class="col-md-4 mt-3 mr-2">
                <button id="auto" class="mainBtn btn btn-primary btn-lg btn-block shadow-sm" onclick="setAuto()">Automatico</button>
            </div>
            <div class="col-md-8">
              <hr style="border-top: 3px solid #000;">
            </div>
        </div>
        
        <div class="row justify-content-center">
            <div class="col-md-4 mt-3 mr-2">
                <button id="light" class="mainBtn btn btn-primary btn-lg btn-block shadow-sm" onclick="lightClicked()">Accendi Luce</button>
            </div>
            <div class="col-md-4 mt-3 mr-2">
                <button id="temp" class="mainBtn btn btn-primary btn-lg btn-block shadow-sm" onclick="tempClicked()">Accendi Riscaldamento</button>
            </div>
            <div class="col-md-4 mt-3 mr-2">
                <button id="all" class="mainBtn btn btn-primary btn-lg btn-block shadow-sm" onclick="allClicked()">Accendi Entrambi</button>
            </div>
        </div>
        
  <div class="git-link">
    <p><a href="https://github.com/matteosaetti" target="_blank" rel="noopener noreferrer">Visita il mio GitHub</a></p>
  </div>
</div>
    </div>
  </div>
  <script src="{{ url_for('static', filename='js/cloudflare.socket.io.js') }}"></script>
  <script src="{{ url_for('static', filename='notiflix/notiflix-3.2.7.min.js') }}"></script> 
  <script src="{{ url_for('static', filename='js/websocket.js') }}"></script>
  <script src="{{ url_for('static', filename='js/sideBar.js') }}"></script>
  <script src="{{ url_for('static', filename='js/settings.js') }}"></script>
  <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>
