<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Settings</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/setting_style.css') }}">
  <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
</head>
<body>

<div class="container">
  <h1 class="mb-4 text-center">Settings</h1>

  <form id="settingsForm">
    <div class="form-group">
      <label for="temperatureThreshold">Temperatura (°C) per attivare i sensori:</label>
      <input type="number" id="temperatureThreshold" class="form-control" min="0" step="0.5">
    </div>
    <div class="form-group">
      <label for="lightThreshold">Quantità di luce (lux) per attivare i sensori:</label>
      <input type="number" id="lightThreshold" class="form-control" min="0" step="1">
    </div>
    <button type="submit" class="btn btn-primary btn-block">Salva</button>
  </form>
</div>

<div class="index-link">
    <a href="/">Indietro</a>
</div>
<div class="git-link">
    <p><a href="https://github.com/matteosaetti" target="_blank" rel="noopener noreferrer">Visita il mio GitHub</a></p>
</div>
</div>

<script>
    loadSettings();

    function loadSettings() {
      var savedTemperature = localStorage.getItem('temperatureThreshold');
      var savedLight = localStorage.getItem('lightThreshold');
  
      if (savedTemperature !== null) {
        $('#temperatureThreshold').val(savedTemperature);
        $('#savedTemperature').text(savedTemperature);
      }
      if (savedLight !== null) {
        $('#lightThreshold').val(savedLight);
        $('#savedLight').text(savedLight);
      }
    }
    
    $('#settingsForm').submit(function(event) {
      event.preventDefault();
  
      var temperatureThreshold = $('#temperatureThreshold').val();
      var lightThreshold = $('#lightThreshold').val();
  
      saveSettings(temperatureThreshold, lightThreshold);

    });
  
    function saveSettings(temperature, light) {
    localStorage.setItem('temperatureThreshold', temperature);
    localStorage.setItem('lightThreshold', light);

    if (localStorage.getItem('temperatureThreshold') === temperature &&
        localStorage.getItem('lightThreshold') === light) {
      $('#savedTemperature').text(temperature);
      $('#savedLight').text(light);
      alert('Impostazioni salvate con successo!');
    } else {
      alert('Si è verificato un errore durante il salvataggio delle impostazioni.');
    }
  }
</script>
</body>
</html>
