<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bottoni Bootstrap</title>
    <!-- Collegamento a Bootstrap CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
</head>
<body>

    <div class="container mt-5">
        <h1 class="text-center mb-5">Esempio di Bottoni Bootstrap</h1>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4">
                <button class="btn btn-primary btn-lg btn-block shadow-sm" onclick="toggleButton(this)">Bottone 1 </button>
            </div>
            <div class="col-md-3 mb-4">
                <button class="btn btn-primary btn-lg btn-block shadow-sm" onclick="toggleButton(this)">Bottone 2 </button>
            </div>
            <div class="col-md-3 mb-4">
                <button class="btn btn-primary btn-lg btn-block shadow-sm" onclick="toggleButton(this)">Bottone 3 </button>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-3 mb-4">
                <button class="btn btn-primary btn-lg btn-block shadow-sm" onclick="toggleButton(this)">Bottone 4 </button>
            </div>
            <div class="col-md-3 mb-4">
                <button class="btn btn-primary btn-lg btn-block shadow-sm" onclick="toggleButton(this)">Bottone 5 </button>
            </div>
            <div class="col-md-3 mb-4">
                <button class="btn btn-primary btn-lg btn-block shadow-sm" onclick="toggleButton(this)">Bottone 6 </button>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='bootstrap/js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<script>
    function toggleButton(btn) {
        btn.classList.toggle('btn-secondary');
        var status = btn.querySelector('.badge');

        }
    
</script>
</body>
</html>
